{exp:channel:entries dynamic="off" url_title="home"}
    {if no_results}
        Home page not found
    {/if}
    <h1>{title}</h1>
    <div class="body">
        {page_body}
        <hr/>
    </div>
    <div class="comments">
        <h2>Comments</h2>
        {exp:proform:entries form_name="comments" paginate="bottom" limit="10" orderby="updated" sort="desc" search:for_entry_id="{entry_id}"}
            {if entries:no_results}
                Nothing found
            {if:else}
                <b>{value:first_name} {value:last_name}</b><br/>
                <em>At {value:updated}</em><br/>
                <div class="comment_body">
                    {value:comments}
                </div>
                <hr/>
            {/if}
        {/exp:proform:entries}

    </div>
    <div class="comment_form">
        {embed="forms/_basic" form_name="comments" for_entry_id="{entry_id}"}
    </div>
{/exp:channel:entries}