
{exp:proform:form form_name="{embed:form_name}" form_class="proform {embed:form_name}_proform" variable_prefix="pf_" debug="yes"}

    {if pf_complete}
        Thank you for your submission!
    {if:else}

    {pf_hidden_fields}
        <input type="hidden" name="{pf_field_name}" value="{pf_field_value}" />
    {/pf_hidden_fields}

    <input type="hidden" name="_pf_current_step" value="{pf_current_step}" />
    <input type="hidden" name="_pf_goto_step" value="" />

    <ul class="pf_steps">
        <!-- These comments prevent whitespace in layouts that may not use Reset CSS.-->
        {pf_steps}
            <li><a href="#{pf_step_no}" class="pf_step {pf_step_active}">{pf_step}</a></li>
        {/pf_steps}
    </ul>

    <div class="pf_wrap">

    {!--
    <fieldset>
        <legend>Field Set Test</legend>
        <label for="text2">Text</label>
        <div class="pf_field">
            <input type="text" name="text" id="text2" value="Tellus Ornare Dapibus Fringilla Purus" />
        </div>
    </fieldset>
    --}

    {pf_fieldrows}
    <ul class="pf_row">
        {pf_fields}
            <li id="{pf_field_html_id}" class="pf_column {pf_field_html_class}">
            {if pf_field_heading}
                <h3>{pf_field_heading}</h3>
            {if:else}
                <label for="{pf_field_name}">{pf_field_label} {if pf_field_is_required}<span class="required">*</span>{/if}</label>
                <div class="pf_field {if pf_vertical}pf_vertical{/if}">
                    {if pf_field_type == "string"}
                        {if pf_field_length <= 256}
                            <input type="text" name="{pf_field_name}" id="{pf_field_name}" class="{pf_required}" value="{pf_field_value}" placeholder="{pf_field_placeholder}" />
                        {if:else}
                            {if pf_wysiwyg}
                                <textarea name="{pf_field_name}" id="{pf_field_name}" class="{pf_required}">{pf_field_value}</textarea>
                                <script type="text/javascript">bkLib.onDomLoaded(function() { new nicEditor(pf_nic_config).panelInstance('{pf_field_name}'); });</script>
                            {if:else}
                                <textarea name="{pf_field_name}" id="{pf_field_name}" class="{pf_required}">{pf_field_value}</textarea>
                            {/if}
                        {/if}
                    {if:elseif pf_field_type == "date"}
                        <input type="text" name="{pf_field_name}" id="{pf_field_name}" class="date {pf_required}" value="{pf_field_value}" placeholder="{pf_field_placeholder}" />
                    {if:elseif pf_field_type == "datetime"}
                        <input type="text" name="{pf_field_name}" id="{pf_field_name}" class="datetime {pf_required}" value="{pf_field_value}" placeholder="{pf_field_placeholder}" />
                    {if:elseif pf_field_type == "time"}
                        <input type="text" name="{pf_field_name}" id="{pf_field_name}" class="time {pf_required}" value="{pf_field_value}" placeholder="{pf_field_placeholder}" />
                    {if:elseif pf_field_type == "integer"}
                        <input type="text" name="{pf_field_name}" id="{pf_field_name}" class="validate-integer {pf_required}" value="{pf_field_value}" placeholder="{pf_field_placeholder}" />
                    {if:elseif pf_field_type == "float"}
                        <input type="text" name="{pf_field_name}" id="{pf_field_name}" class="validate-float {pf_required}" value="{pf_field_value}" placeholder="{pf_field_placeholder}" />
                    {if:elseif pf_field_type == "email"}
                        <input type="text" name="{pf_field_name}" id="{pf_field_name}" class="validate-email {pf_required}" value="{pf_field_value}" placeholder="{pf_field_placeholder}" />
                    {if:elseif pf_field_type == "file"}
                        <div class="pf_files">
                            <input name="{pf_field_name}[]" id="{pf_field_name}" type="file" class="{pf_required}" />
                        </div>
                        <a href="#" class="pf_add_file">Add Additional File</a>
                    {if:elseif pf_field_type == "list"}
                        <select name="{pf_field_name}" id="{pf_field_name}" {if pf_multiple}multiple="multiple"{/if} class="{pf_required}">
                        {pf_field_setting_list}
                            <option value="{pf_key}" {pf_selected}>{pf_row}</option>
                        {/pf_field_setting_list}
                        </select>
                    {if:elseif pf_field_type == "checkboxes"}
                        {pf_field_setting_list}
                        <div class="pf_option {if pf_vertical}pf_vertical{/if}">
                            <input type="checkbox" name="{pf_field_name}" id="{pf_field_name}_{pf_key}" value="{pf_key}" {if pf_selected}checked="checked"{/if} class="{pf_required}" /><label for="{pf_field_name}_{pf_key}">{pf_label}</label>
                        </div>
                        {/pf_field_setting_list}
                    {if:elseif pf_field_type == "radios"}
                        {pf_field_setting_list}
                        <div class="pf_option">
                            <input type="radio" name="{pf_field_name}" id="{pf_field_name}_{pf_key}" value="{pf_key}" {if pf_selected}checked="checked"{/if} class="{pf_required}" /><label for="{pf_field_name}_{pf_key}">{pf_label}</label>
                        </div>
                        {/pf_field_setting_list}
                    {if:else}
                        <input type="{pf_field_control}" id="{pf_field_name}" name="{pf_field_name}" value="{pf_field_value}" class="{pf_required}" />
                    {/if}

                    {if pf_field_error}<div id="text-E" class="errMsg"><span>{pf_field_error}</span></div>{/if}
                </div>
            {/if}
        {/pf_fields}
        </ul>
        <div class="pf_clear"></div>
    {/pf_fieldrows}

    <div class="pf_buttons">
        {if pf_use_captcha}
            <div class="pf_captcha">
                Enter this word: {pf_captcha}<br/>
                <input type="text" name="captcha" />{if pf_error:captcha}<span class="error">{pf_error:captcha}</span>{/if}
            </div>
        {/if}

        {if pf_multistep}
            <input type="submit" name="_pf_goto_previous" value="< Previous" {if pf_on_first_step}disabled="disabled"{/if} />
            <input type="submit" name="_pf_goto_next" value="Next >" {if pf_on_last_step}disabled="disabled"{/if} />
        {/if}
        {if pf_on_last_step}
            <input type="submit" name="_pf_finish" value="Submit" />
        {if:else}
            <input type="submit" value="Submit" disabled="disabled" />
        {/if}
    </div>

    {/if}
</div>

{/exp:proform:form}

