<!-- Use ProForm's version number as a cache buster -->
<link href="{site_url}themes/third_party/proform/public/styles/proform.css?{pf_proform_version}" type="text/css" rel="stylesheet" />
<link href="{site_url}themes/third_party/proform/public/styles/jquery-ui.css?{pf_proform_version}" type="text/css" rel="stylesheet" />
<link href="{site_url}themes/third_party/proform/public/styles/jquery-ui-timepicker-addon.css?{pf_proform_version}" type="text/css" rel="stylesheet" />
<script src="{site_url}themes/third_party/proform/public/javascript/jquery.min.js?{pf_proform_version}" type="text/javascript"></script>
<script src="{site_url}themes/third_party/proform/public/javascript/jquery-ui.min.js?{pf_proform_version}" type="text/javascript"></script>
<!-- <script src="{site_url}themes/third_party/proform/public/javascript/wforms_pack.js?{pf_proform_version}" type="text/javascript"></script> -->
<script src="{site_url}themes/third_party/proform/public/javascript/jquery-ui-timepicker-addon.js?{pf_proform_version}" type="text/javascript"></script>
<script src="{site_url}themes/third_party/proform/public/javascript/nicEdit-latest.js?{pf_proform_version}" type="text/javascript"></script>
<script src="{site_url}themes/third_party/proform/public/javascript/proform.js?{pf_proform_version}" type="text/javascript"></script>